<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Developer Skills</title>
  </head>
  <body>
    <h1>Skills as of <%= time %> </h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
      <ul class="list-group">
      <% skills.forEach(function(skill) { %>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" <%= skill.done ? 'checked ' : '' %> >
              <a href="/skills/<%= skill._id %>"><%= skill.text%></a>
              <form 
              action="/skills/<%= skill._id %>?_method=DELETE"
              class='delete-form'
              method="POST"
            >
              <button type="submit" class="deleteBtn">DELETE</button>
            </form>
            </li>
      <% }) %>
    </ul>
  <a href="/skills/new" class="btn">ADD NEW SKILL</a>
  </body>
</html>